In [1]:
import random

In [28]:
num = random.randint(1,100)

In [29]:
while 1:
    input_num = input('숫자를 입력하세요')
    try:
        type(int(input_num))
    except ValueError:
        break

    if int(input_num) > num:
        print('down')
    elif int(input_num) < num:
        print('up')
    else:
        print('정답')
        break

숫자를 입력하세요 42

up

숫자를 입력하세요 44

up

숫자를 입력하세요 43

up

숫자를 입력하세요 50

up

숫자를 입력하세요 60

up

숫자를 입력하세요 70

up

숫자를 입력하세요 80

up

숫자를 입력하세요 90

up

숫자를 입력하세요 100

down

숫자를 입력하세요 99

down

숫자를 입력하세요 98

down

숫자를 입력하세요 97

down

숫자를 입력하세요 96

정답

In [1]:
def sum_etc(a,b, *args):
    return a + b + sum(args)

In [4]:
sum_etc(4,5,6,7,8,9)

39

In [9]:
sum([1,2,4])

7